<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isHidden</key>
	<true/>
	<key>mainText</key>
	<string>remote config 1</string>
	<key>subText</key>
	<string>remote config 2</string>
</dict>
</plist>
